html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Jaldi', sans-serif;
}

.form {
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.form__fieldset {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(18 172 159);
}

.form__legend {
    border:1px solid #fff;
    background-color: #0e1a2a;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__labelText {
    color: white;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.form__field {
    border: 1px solid #ccc;
    border-color: white;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__button {
    border: none;
    background-color: #0f2637;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #1c5961;
}

.form__button:active {
    background-color: #056359;
}

.form__star {
    color: white;
    text-align: center;
}

.result {
    background-color: #12ac9f;
    border: 1px solid white;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}